name: shifter-test

services:
  shifter:
    build:
      context: ../../
      dockerfile: docker/Dockerfile
    entrypoint: /home/app/web/entrypoint.sh
    command: python manage.py test --parallel
    restart: always
    env_file:
      - "../../.env EXAMPLE"
    environment:
      - DJANGO_LOG_LEVEL=OFF
      - TEST_MODE=1
      - APP_VERSION=TESTING

  frontend-tests:
    build:
      context: ../../
      dockerfile: docker/Dockerfile
      target: nodebuilder
    working_dir: /app/shifter
    command: npm test
    environment:
      - TZ=UTC
