# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/shifter" # Location of package manifests
    schedule:
      interval: "daily"
    assignees:
      - "TobySuch"
    reviewers:
      - "TobySuch"
    labels:
      - "backend"
      - "dependencies"
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/shifter" # Location of package manifests
    schedule:
      interval: "daily"
    assignees:
      - "TobySuch"
    reviewers:
      - "TobySuch"
    labels:
      - "frontend"
      - "dependencies"
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "daily"
    assignees:
      - "TobySuch"
    reviewers:
      - "TobySuch"
    labels:
      - "dependencies"
    commit-message:
      prefix: ":arrow_up:"
  
  - package-ecosystem: "docker"
    directory: "/docker/dev"
    schedule:
      interval: "daily"
    assignees:
      - "TobySuch"
    reviewers:
      - "TobySuch"
    labels:
      - "dependencies"
    commit-message:
      prefix: ":arrow_up:"