# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env*

# VS Code
.vscode/

# MacOS
.DS_Store

# Static/Media
shifter/media/
shifter/static/css
shifter/static/js
shifter/static/manifest.json

node_modules/
