{% extends 'base.html' %}

{% block title %}<title>Change Your Password | Shifter</title>{% endblock %}

{% block content %}
<div class="standard-page-width">
    <div class="py-2">
        <h1 class="title">Change Your Password</h1>
    </div>
    <div class="p-2">
        <p class="border-b-2 border-gray-400 pb-2">After changing your password, you will automatically be logged out and must login with your new password.</p>
        {% if user.change_password_on_login %}<div class="my-4 bg-red rounded text-center font-semibold border border-blue-600 bg-blue-300">You need to reset your password before you can continue.</div>{% endif %}
        <form class="space-y-1 p2" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}<div class="bg-red rounded text-center font-semibold border border-red-600 bg-red-300">{{ form.non_field_errors }}</div>{% endif %}

            <div class="flex">
                <p class="text-gray-800">{{ form.new_password.label }}:</p>
                {% if form.new_password.errors %}<div class="ml-2 bg-red rounded text-center font-semibold border border-red-600 bg-red-300 grow">{{ form.new_password.errors }}</div>{% endif %}
            </div>
            <input name="{{ form.new_password.html_name }}" type="password" class="w-full input-primary" placeholder="••••••••">

            <div class="flex">
                <p class="text-gray-800">{{ form.confirm_password.label }}:</p>
                {% if form.confirm_password.errors %}<div class="ml-2 bg-red rounded text-center font-semibold border border-red-600 bg-red-300 grow">{{ form.confirm_password.errors }}</div>{% endif %}
            </div>
            <input name="{{ form.confirm_password.html_name }}" type="password" class="w-full input-primary" placeholder="••••••••">

            <div class="flex justify-end py-2">
                <input type="submit" value="Change Password" class="btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock %}