{% extends 'base.html' %}

{% block title %}<title>Register New User | Shifter</title>{% endblock %}

{% block content %}
<div class="standard-page-width">
    <div class="py-2">
        <h1 class="title">Register New User</h1>
    </div>
    <div class="p-2">
        {% if user.change_password_on_login %}<div class="my-4 rounded text-center font-semibold border border-blue-600 bg-blue-300">You need to reset your password before you can continue.</div>{% endif %}
        <form class="space-y-1 p2" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}<div class="error-box">{{ form.non_field_errors }}</div>{% endif %}

            <div class="flex">
                <p class="text-gray-800">{{ form.email.label }}:</p>
                {% if form.email.errors %}<div class="ml-2 error-box grow">{{ form.email.errors }}</div>{% endif %}
            </div>
            <input name="{{ form.email.html_name }}" class="w-full input-primary" placeholder="your@email.com">

            <div class="flex">
                <p class="text-gray-800">{{ form.password.label }}:</p>
                {% if form.password.errors %}<div class="ml-2 error-box grow">{{ form.password.errors }}</div>{% endif %}
            </div>
            <input name="{{ form.password.html_name }}" type="password" class="w-full input-primary" placeholder="••••••••">

            <div class="flex">
                <p class="text-gray-800">{{ form.confirm_password.label }}:</p>
                {% if form.confirm_password.errors %}<div class="ml-2 error-box grow">{{ form.confirm_password.errors }}</div>{% endif %}
            </div>
            <input name="{{ form.confirm_password.html_name }}" type="password" class="w-full input-primary" placeholder="••••••••">

            <div class="flex justify-end py-2">
                <input type="submit" value="Register User" class="btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock %}