version: "3.9"
name: shifter

volumes:
  # postgres_data: Uncomment this if you want to use postgres
  static:
  media:
  db:
   
services:
  ## Uncomment this if you want to use postgres
  # db:
  #   image: postgres
  #   restart: always
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   env_file:
  #     - ./.env
  web:
    image: ghcr.io/tobysuch/shifter:0.2.0
    restart: always
    volumes:
      - static:/home/app/web/static
      - media:/home/app/web/media
      - db:/home/app/web/db
    expose:
      - 8000
    env_file:
      - ../.env
  nginx:
    image: nginx:1.19.0-alpine
    volumes:
      - static:/home/app/web/static
      - media:/home/app/web/media
      - ../nginx/nginx.conf:/etc/nginx/templates/default.conf.template
    ports:
      - 1337:80
    depends_on:
      - web
    env_file:
      - ../.env