asgiref==3.11.1
Django==6.0.7
django-crontab==0.7.1
django-vite==3.1.0
gunicorn==26.0.0
packaging==26.2
psycopg==3.3.4
psycopg-binary==3.3.4
sqlparse==0.5.5
tblib==3.2.2
typing_extensions==4.16.0
whitenoise==6.12.0
