{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Shifter</title>{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if DEBUG %}
            {# Currently hitting a bug where the JIT compiler for tailwind isn't working. For now using CDN for dev work. #}
            <script src="https://cdn.tailwindcss.com"></script>
        {% else %}
            {# TODO: The CSS is not set up to build in production builds yet. #}
            {% tailwind_css %}
        {% endif %}
        {% block head %}
        {% endblock %}
    </head>

    <body class="font-sans leading-normal tracking-normal bg-gray-100 h-screen">
        <nav class="bg-cyan-300 py-2.5 mb-3 fixed inset-x-0">
            <div class="container flex flex-wrap justify-between items-center mx-auto">
                <a href="/" class="flex">
                    <span class="self-center text-lg font-semibold whitespace-nowrap ">Shifter</span>
                </a>
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'shifter_auth:logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="Logout" class="cursor-pointer self-center text-lg font-semibold whitespace-nowrap">
                </form>
                {% else %}
                <a href="{% url 'shifter_auth:login' %}" class="flex">
                    <span class="self-center text-lg font-semibold whitespace-nowrap">Login</span>
                </a>
                {% endif %}
            </div>
        </nav>
        <div class="container h-screen mx-auto">
            {% block content %}
            <section class="flex items-center justify-center">
                <h1 class="text-5xl">Template Page</h1>
            </section>
            {% endblock %}
        </div>
    </body>
</html>
