{% extends 'base.html' %}

{% load django_vite %}

{% block title %}<title>Site Settings | Shifter</title>{% endblock %}

{% block head %}
{% vite_asset 'assets/js/site-settings.js' %}
{% endblock %}

{% block content %}
<div class="standard-page-width" x-data>
    <div class="py-2 rounded-t">
        <h1 class="title">Site Settings</h1>
    </div>
    <div class="p-2">
        <div class="flex justify-end">
            <button id="cleanup-expired-files-btn" class="btn-primary flex items-center gap-2">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                </svg>
                <span>Cleanup Expired Files Now</span>
            </button>
        </div>
        <div id="expired-files-info" class="flex info-box mt-2" role="alert" x-cloak x-show="$store.siteSettingsAlerts.showExpiredInfo">
            <svg aria-hidden="true" class="shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <div id="expired-files-info-msg" class="ml-3 text-sm font-medium text-center" x-text="$store.siteSettingsAlerts.expiredInfoMessage"></div>
            <button type="button" class="ml-auto -mx-1.5 -my-1.5 text-white rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-white hover:text-primary inline-flex h-8 w-8 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700" aria-label="Close" @click="$store.siteSettingsAlerts.clearExpiredInfo()">
                <span class="sr-only">Close</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
        <form class="space-y-1 flex flex-col gap-3 mt-2" method="post">
            {% if message %}
            <div id="info-box" class="flex info-box" role="alert" x-data="{ showFlashMessage: true }" x-cloak x-show="showFlashMessage">
                <svg aria-hidden="true" class="shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Info</span>
                <div class="ml-3 text-sm font-medium text-center">
                    {{ message }}
                </div>
                <button type="button" class="ml-auto -mx-1.5 -my-1.5 text-white rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-white hover:text-primary inline-flex h-8 w-8 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700" aria-label="Close" @click="showFlashMessage = false">
                    <span class="sr-only">Close</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            {% endif %}
            {% csrf_token %}
            {% if form.non_field_errors %}<div class="error-box">{{ form.non_field_errors }}</div>{% endif %}
            {% for field in form %}
            <div>
                <div class="flex">
                    <label class="text-gray-800" for="{{ field.id }}">{{ field.label }}</label>
                    {% if field.errors %}<div class="ml-2 error-box grow">{{ field.errors }}</div>{% endif %}
                </div>
                {% if field.help_text %}
                <p class="text-sm text-gray-500 mb-2">{{ field.help_text }}</p>
                {% endif %}

                {% if field.field.widget.input_type == 'checkbox' %}
                    {# Render Flowbite toggle for boolean fields #}
                    <label class="inline-flex items-center cursor-pointer">
                        <input name="{{ field.html_name }}" type="checkbox" class="sr-only peer"
                            {% if field.value %}checked{% endif %}>
                        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-0.5 after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-sky-200"></div>
                    </label>
                {% else %}
                    {# Render text input for other fields #}
                    <input name="{{ field.html_name }}" type="text" class="w-full input-primary" {% if field.value %}value="{{ field.value }}"{% endif %}>
                {% endif %}
            </div>
            {% endfor %}
            <div class="flex justify-end py-2">
                <button type="submit" class="btn-primary flex items-center gap-2">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"></path>
                    </svg>
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
    <div>
        <div class="flex items-center justify-between border-t-2 border-gray-400 py-4">
            <h2 class="text-gray-800 text-2xl font-medium">Site Information</h2>
            <button id="copy-site-info-btn" type="button" class="btn-primary flex items-center gap-2" :disabled="$store.siteSettingsCopy.disabled">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                </svg>
                <span x-text="$store.siteSettingsCopy.label">Copy Site Info</span>
            </button>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-2">
            <div class="flex flex-col justify-between rounded-lg p-2 border-2 border-sky-200 bg-sky-100 w-full text-center space-y-2">
                <p class="font-semibold">Debug Mode</p>
                <p class="font-black text-4xl {% if debug_mode %}text-red-600{% else %}text-primary{% endif %}">{{ debug_mode }}</p>
            </div>
            <div class="flex flex-col justify-between rounded-lg p-2 border-2 border-sky-200 bg-sky-100 w-full text-center space-y-2">
                <p class="font-semibold">Shifter Version</p>
                <p class="font-black text-4xl text-primary">{{ shifter_version }}</p>
            </div>
            <div class="flex flex-col justify-between rounded-lg p-2 border-2 border-sky-200 bg-sky-100 w-full text-center space-y-2">
                <p class="font-semibold">Python Version</p>
                <p class="font-black text-4xl text-primary">{{ python_version }}</p>
            </div>
            <div class="flex flex-col justify-between rounded-lg p-2 border-2 border-sky-200 bg-sky-100 w-full text-center space-y-2">
                <p class="font-semibold">DB Engine</p>
                <p class="font-black text-4xl text-primary">{{ db_engine }}</p>
            </div>
            <div class="relative flex flex-col justify-between rounded-lg p-2 border-2 border-sky-200 bg-sky-100 w-full text-center space-y-2" data-tooltip-target="tooltip-uptime">
                <span class="absolute top-0 right-0 mt-1 mr-1 w-2 h-2 bg-primary rounded-full"></span>
                <p class="font-semibold">Uptime</p>
                <p class="font-black text-4xl text-primary">{{ uptime }}</p>
            </div>
            <div class="relative flex flex-col justify-between rounded-lg p-2 border-2 border-sky-200 bg-sky-100 w-full text-center space-y-2" data-tooltip-target="tooltip-expired-files">
                <span class="absolute top-0 right-0 mt-1 mr-1 w-2 h-2 bg-primary rounded-full"></span>
                <p class="font-semibold">Active Files</p>
                <p class="font-black text-4xl text-primary">{{ num_active_files }}</p>
            </div>
        </div>
        <div id="tooltip-uptime" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-primary rounded-lg opacity-0 tooltip dark:bg-gray-700">
            Started at: {{ startup_time }}
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <div id="tooltip-expired-files" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-primary rounded-lg opacity-0 tooltip dark:bg-gray-700">
            {{ num_expired_files }} file(s) to be cleaned up.
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
    </div>
    {{ site_information_clipboard|json_script:"site-information-data" }}
</div>
{% endblock %}
